@using System.Security.Claims

@inject AuthenticationStateProvider AuthStateProvider

<CascadingAuthenticationState>
  <AuthorizeView>
    <Authorized>
      <span>
        Welcome, @DisplayName <a href="MicrosoftIdentity/Account/SignOut">Sign Out</a>
        <a href="/MicrosoftIdentity/Account/EditProfile">Edit User Profile</a>
      </span>
    </Authorized>
    <NotAuthorized>
      <a href="MicrosoftIdentity/Account/SignIn">Sign In</a>
      <a href="MicrosoftIdentity/Account/ResetPassword">Reset Password</a>
    </NotAuthorized>
  </AuthorizeView>
</CascadingAuthenticationState>

@code {

  private string DisplayName = "...";

  protected async override Task OnInitializedAsync()
  {
    var state = await AuthStateProvider.GetAuthenticationStateAsync();
    DisplayName = state.User.Identity?.Name ?? "";
  }

}