@inherits LayoutComponentBase

<PageTitle>The Dashboard</PageTitle>

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <a href="https://thedashboard.comzept.de" target="_blank">About</a>
    </div>
    <div class="top-row px-4 float-end">
      <LoginDisplay></LoginDisplay>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>
