@page "/tenants/dashboardmanager"
@using TheDashboard.BuildingBlocks.Core.EventStore;
@using TheDashboard.Clients;
@using TheDashboard.FrontendUi.Services;

@inject IDashboardService DashboardService

<h3>DashboardManager</h3>

<button class="btn btn-outline-primary" @onclick="AddDashboard" >Add Dashboard</button>


@code {



    private async Task AddDashboard() => await DashboardService.InvokeCommand<DashboardAdded>(new DashboardDto { Id = Guid.NewGuid(), Name = "New 1" });
}
