@using System.Reflection;
@using System.Collections;
<dl>
  <dt>
    @labelText
  </dt>
  <dd>
    @if (labelData == null)
    {
      <span class="badge bg-warning">@NoDataText</span>
    } else
    {
      @labelData.Count
    }
  </dd>
</dl>
@code {

  private string? labelText;
  private ICollection? labelData;

  [Parameter]
  public object? DataObject { get; set; }

  [Parameter]
  public string? Property { get; set; }

  [Parameter]
  public string NoDataText { get; set; } = string.Empty;

  protected override void OnParametersSet()
  {
    labelText = DataObject.GetType().GetProperty(Property).GetCustomAttribute<DisplayAttribute>()?.Name ?? Property;
    labelData = DataObject.GetType().GetProperty(Property).GetValue(DataObject, null) as ICollection;    
  }

}
