@page "/layouts"

@using TheDashboard.Frontend.Services;
@using TheDashboard.Frontend.Shared.Tiles
@using TheDashboard.SharedEntities;

@inject ITileDataService TileDataService

<h3>Layouts Manager</h3>

@code {


}
